In [1]:
import pandas as pd
import numpy as np

In [ ]:
read_college = pd.read_csv("datasets/College.csv")
read_college.head()

In [3]:
college = read_college.rename({"Unnamed: 0": "Colleges"}, axis='columns')
college.set_index("Colleges", inplace=True)
print(college.shape)
college.head()

(777, 18)

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
Colleges,,,,,,,,,,,,,,,,,,
Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [ ]:
college.describe()

In [ ]:
plot_df = college[['Apps', 'Enroll', 'Top10perc']]
pd.plotting.scatter_matrix(plot_df)